div{
    float: left;
    height: 100px;

}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.navy{
    background-color: navy;
}
.orkid{
    background-color: orchid;
}